.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.tree-column {
    padding: 3px 7px;
    font-size: 12px;
}

.mat-folder .mat-icon {
    color: #f6d32d;
}

.mat-file .mat-icon {
    color: #81a1c1;
}

.mat-tree-node:hover {
    background-color: #f9fafb;
    border-radius: 4px;
    cursor: pointer;
}

.table-header {
    font-size: 12px;
}

.path-column {
    padding-left: 0 !important;
    /* Remove padding for path column */
}

::ng-deep {

    .mat-tree-node {
        max-height: 25px !important; // Restricting max height to 20px
        min-height: 25px !important; // Ensure the height does not shrink below 20px
        overflow: hidden; // Hide any overflowing content
        display: flex;
        align-items: center;
        //  padding: 0 8px;
    }

    .mat-tree-node .tree-column {
        padding: 3px 7px;
        font-size: 10px;
    }

    .mat-tree-node:hover {
        background-color: #f9fafb;
        border-radius: 4px;
        cursor: pointer;
    }
    .mat-folder .mat-icon {
        color: #f6d32d;
    }

    .mat-file .mat-icon {
        color: #81a1c1;
    }

    .path-column {
        padding-left: 0 !important;
    }
}


// FOLDER STRUCTURE STYLING

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.tree-container {
    flex: 1;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.tree-table {
    display: flex;
    flex-direction: column;
    height: 400px; /* Fixed height */
    overflow: hidden;
}

.tree-title {
    font-size: 18px;
    font-weight: bold;
    color: #1E293B;
    margin-bottom: 10px;
}

.tree-content {
    flex-grow: 1;
    overflow-y: auto; /* Enables scrolling */
    max-height: 350px; /* Prevents overflowing */
    // border: 1px solid #ddd;
    padding: 10px;
    background: white;
}

.mat-tree-node {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.mat-file {
    color: #007bff;
}

.mat-folder {
    color: #ff9800;
}

.align-row {
    display: inline-flex;
    align-items: center;
}

.ang-link-style{
    margin-left: 60% !important;
}

.sb-link-style{
    margin-left: 56% !important;
}


// TABLE STYLING

.small-column {
 
    width: 100px; /* Set a fixed width */

    max-width: 200px; /* Ensure it doesn't expand beyond this width */

    overflow: hidden; /* Hide overflowing content */

    text-overflow: ellipsis; /* Add "..." for truncated text */

    white-space: nowrap; /* Prevent text wrapping */

  }


  .small-column {

    flex: 0 0 200px; /* Prevent the column from shrinking or growing */

  }


  ::ng-deep .manual-changes-column {

    width: 500px !important;

  }

.manual-changes-column ul {

    padding-left: 20px; 

    list-style-type: disc;

  }

  .manual-changes-column ul ul {

    list-style-type: circle; 

  }
 
  .report-content{
    margin-top: 20px;
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .doughnut-chart {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    // background: conic-gradient(
    //   #3182CE 0% 50%, /* Automatic Conversion */
    //   #63B3ED 50% 100% /* Manual Conversion */
    // );
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .inner-circle {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .conversion-details {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .conversion-details li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .dot.automatic {
    background-color: #3182CE;
  }
  
  .dot.manual {
    background-color: #ffbd59;
  }